/.DS_Store
/.venv
/Day1
/UserMicroServiceERROR
/calorie
/ecommerce
/library
/mysite
/revision
/school
/skyco
/store
/todolist
view.json
UsersMS/users/__pycache__/
UsersMS/UsersMS/__pycache__/
UsersMS/users/migrations/__pycache__/