/.DS_Store
/.venv
/Day1
/UserMicroServiceERROR
/calorie
/ecommerce
/library
/mysite
/revision
/school
/skyco
/store
/todolist
view.json
UsersMS/users/__pycache__/
UsersMS/UsersMS/__pycache__/
UsersMS/users/migrations/__pycache__/
BooksMS/booksMS/__pycache__/
BooksMS/booksMS/migrations/__pycache__/
BooksMS/LibraryProject/__pycache__/
BooksMS/__pycache__/
UsersMS/__pycache__/
ApiGateway/ApiGateway/__pycache__/
ApiGateway/gateway/__pycache__/
ApiGateway/gateway/migrations/__pycache__/