<!DOCTYPE html>
<html>
<head>
    <title>{{ book.title }}</title>
</head>
<body>
    <h1>{{ book.title }}</h1>
    <p>Published: {{ book.pub_year }}</p>
    {% if book.coverimg %}
        <p>Cover image: {{ book.coverimg }}</p>
    {% endif %}
    {% if book.rating %}
        <p>Rating: {{ book.rating }}</p>
    {% endif %}
    {% if book.genre %}
        <p>Genre: {{ book.genre }}</p>
    {% endif %}
    <a href="http://127.0.0.1:8001/gateway/home/"><button>Back</button></a>
    <form method="POST" action="http://127.0.0.1:8003/loans/borrow/">
        {% csrf_token %}
        {% if user_id %}
        <input type="hidden" name="user_id" value="{{ user_id }}">
        {% endif %}
        <input type="hidden" name="book_id" value="{{ book.id }}">
        <button type="submit">Borrow Me!!</button>  
    </form>  
</body>
</html>

