<!DOCTYPE html>
<html>
<head>
    <title>{% if form_html.instance.pk %}Edit Book{% else %}New Book{% endif %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'gateway/css/styles.css' %}">
</head>
<body>
    <h1>{% if form_html.instance.pk %}Edit Book{% else %}New Book{% endif %}</h1>
    <form method="POST">
        {% csrf_token %}

        {{ form_html|safe }}
        {%if user_id%}
        <input type="hidden" name="user_id" value="{{ user_id }}">
        <button type="submit">Save</button>
        
        {%endif%}
    </form>
    <div class="cancel-link">
        <a href="http://apigateway:8001/gateway/home/">Cancel</a>
    </div>
</body>
</html>

