<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ books.book.title }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'gateway/css/bookd.css' %}">
</head>
<body>
    
    <header>
        <h1>{{ books.book.title }}</h1>
    </header>
    
    <main>
        <section>
            <p>Published: {{ books.book.published_date }}</p>
            {% if books.book.coverimg %}
                <p>Cover image: {{ books.book.coverimg }}</p>
            {% endif %}
            {% if books.book.rating %}
                <p>Rating: {{ books.book.rating }}</p>
            {% endif %}
            {% if books.book.genre %}
                <p>Genre: {{ books.book.genre }}</p>
            {% endif %}
        </section>
        
        <nav>
            <a href="http://localhost:8001/gateway/home/"><button>Back</button></a>
        </nav>
        
        <form method="POST" action="http://localhost:8001/gateway/borrow/">
            {% csrf_token %}
            {% if user_info %}
                <input type="hidden" name="user_id" value="{{ user_info.id }}">
            {% endif %}
            <input type="hidden" name="book_id" value="{{ books.book.id }}">
            <button type="submit">Borrow Me!!</button>  
        </form>
        
        <footer>
            <div>
                <a href="http://apigateway:8001/gateway/book/{{ books.book.id }}/edit/"><button>Edit</button></a>
            </div>
            <div>
                <a href="http://apigateway:8001/gateway/book/{{ books.book.id }}/delete/"><button>Delete</button></a>
            </div>
        </footer>
    </main>
    
</body>
</html>
