<!DOCTYPE html>
<html>
<head>
    <title>Borrow Book</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'gateway/css/styles.css' %}">
</head>
<body>
    <h1>Add Return Date</h1>
    <form method="post" action="http://{{SERVER_IP}}/gateway/senddate/">
        {% csrf_token %}
        {{ form|safe }}
        <input type="hidden" name="user_id" value="{{ user_id }}">
        <input type="hidden" name="book_id" value="{{ book_id }}">
        <input type="submit" value="Submit">
    </form>
</body>
</html>