<!DOCTYPE html>
<html>
<head>
    <title>Book List</title>
</head>
<body>
    
    {% if user_info %}
    <div>
        <p>Hi {{ user_info.username }}</p>
    </div>
    {% endif %}
    <h1>Book List</h1>
    <ul>
        {% for book in books %}
        <div>
            <li><a href='http://127.0.0.1:8000/details/{{book.id}}'>{{ book.title }}</a></li>
            <a href="http://127.0.0.1:8000/book/{{book.id}}/delete/"><button>Delete</button></a>
        </div>
        {% endfor %}
    </ul>
    <a href="http://127.0.0.1:8000/new/">Add New Book</a>
</body>
</html>
