<!DOCTYPE html>
<html>
<head>
    <title>Book List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'gateway/css/styles.css' %}">
</head>
<body>

    {% if user_info %}
    <div>
        <p>Hi {{ user_info.username }}</p>
    </div>
    {% endif %}
    
    <h1>Book List</h1>
    <ul>
        {% for book in books %}
        <div>
            <li>
                <a class="book-details-link" href="#" data-book-id="{{ book.id }}">{{ book.title }}</a>
                <form id="book-details-form-{{ book.id }}" method="POST" action="http://{{SERVER_IP}}:8001/gateway/details/{{ book.id }}" style="display: none;">
                    {% csrf_token %}
                    {% if user_info %}
                    <input type="hidden" id="user_id" name="user_id" value="{{ user_info.id }}">
                    {% endif %}
                </form>
            </li>
        </div>
        {% endfor %}
    </ul>
    
    <div>
        <form id="my-books-form" method="GET" action="http://{{SERVER_IP}}:8001/gateway/mybooks/{{ user_info.id }}/"> <!-- Assuming 'mybooks' endpoint with user_id -->
            {% csrf_token %}
            {% if user_info %}
            <input type="hidden" id="user_id" name="user_id" value="{{ user_info.id }}">
            {% endif %}
            <button type="submit">My Books</button>
        </form>
    </div>

    <div>
        <form id="add-book-form" method="GET" action="http://{{SERVER_IP}}:8001/gateway/addbook/">
            {% csrf_token %}
            <button type="submit">Add Book</button>
        </form>
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var links = document.querySelectorAll('a.book-details-link');
            links.forEach(function(link) {
                link.addEventListener('click', function(event) {
                    event.preventDefault();
                    var bookId = event.target.getAttribute('data-book-id');
                    document.getElementById('book-details-form-' + bookId).submit();
                });
            });
        });
    </script>
    
</body>
</html>

