<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'gateway/css/login.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        <h1>{{SERVER_IP}}</h1>
        <div class="signup-link">
            <a href="http://{{SERVER_IP}}:8001/gateway/signup/">Sign Up</a>
        </div>
    </div>
</body>
</html>
