<!DOCTYPE html>
<html>
<head>
    <title>My Books</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'gateway/css/mybooks.css' %}">
</head>
<body>
    <div class="container">
        <h1>Books You Borrowed</h1>
        <ul class="book-list">
            {% for book in books %}
                <li class="book-item">
                    <div class="book-details">
                        <h2 class="book-title">{{ book.book_title }}</h2>
                        <p><strong>Date Borrowed:</strong> {{ book.loan_date }}</p>
                        <p><strong>Return Date:</strong> {{ book.return_date }}</p>
                        <p><strong>Return Status:</strong> {% if book.returned %}Returned{% else %}Not Returned{% endif %}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <a href="http://{{ SERVER_IP }}:8001/gateway/home/" class="back-link">Go back to home</a>
    </div>
</body>
</html>

