<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign UP</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'gateway/css/signup.css' %}">
</head>
<body>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
    </form>
    <div class="signup-link">
        <a href="http://{{SERVER_IP}}:8001/gateway/home/">back</a>
    </div>
</body>
</html>
