/* mybooks.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: left;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul li a.book-details-link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

ul li a.book-details-link:hover {
    text-decoration: underline;
}

ul li form {
    margin-top: 10px;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.button-container form {
    margin-right: 10px;
}

.my-books-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.my-books-button:hover {
    background-color: #0056b3;
}

.add-book-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.add-book-button:hover {
    background-color: #0056b3;
}

div p {
    text-align: center;
    font-size: 18px;
    color: #555;
}
